# ========================
# ARCHIVOS DE SISTEMA
# ========================
.DS_Store
Thumbs.db

# ========================
# ARCHIVOS TEMPORALES
# ========================
*.log

# ========================
# SASS
# ========================
scss/
css/*.map

# ========================
# NODE MODULES (si usás npm)
# ========================
node_modules/
